body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.text{
    color: orangered;
}
.flex-part{
    display: flex;
    margin-bottom: 100px;
}
.side{
    width: 50%;
    padding-left: 2%;
}
.side img{
    width: 80%;
}
.hire{
    text-decoration: none;
    color: wheat;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
}
.header{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
.main{
   background-image: url(img/dream-bg.png);
   background-repeat: no-repeat;
   background-position: right;
}
.side-last{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
}
.last{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#side-left{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#side-right{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
.footer{
    text-align: center;
}