body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.text{
    color: orangered;
}
section{
    display: flex;
}
.side{
    width: 50%;
    padding-left: 2%;
}
.side img{
    width: 80%;
}
.hire{
    text-decoration: none;
    color: wheat;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
}
.header{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}